.Content-title {
  margin: 32px 0 32px 0;
  font-size: 32px;
  font-weight: bolder;
}

.Movies-container {
  max-width: 1300px;
  margin: 0 auto;
}

.Movies-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: flex-start;
  align-items: center;
  gap: 32px 48px;
  padding-bottom: 16px;
}

/* Smartphone */
@media (max-width: 768px) {
  .Content-title {
    padding-left: 16px;
    font-size: 28px;
    margin: 24px 0;
  }

  .Movies-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 24px 32px;
    margin: 0;
    padding: 0 20px 3rem 20px;
  }
}

/* Tablet Landscape */
@media (min-width: 769px) and (max-width: 1400px) {
  .Content-title {
    padding-left: 40px;
  }

  .Movies-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
    padding: 0 40px 5rem 40px;
  }
}
